<h1>Editing magazynier</h1>

<%= render "form", magazynier: @magazynier %>

<br>

<div>
  <%= link_to "Show this magazynier", @magazynier %> |
  <%= link_to "Back to magazyniers", magazyniers_path %>
</div>
